<div class="panel-body">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <ul class="stat-list m-t-lg">
            <li>
              <address>
                <strong>Address</strong><br>
                <%= @accpac_arcus.TEXTSTRE1 %> <%= @accpac_arcus.TEXTSTRE2 %> <%= @accpac_arcus.TEXTSTRE3 %> <%= @accpac_arcus.TEXTSTRE4 %><br>
                <%= @accpac_arcus.NAMECITY %>, <%= @accpac_arcus.CODESTTE %> <%= @accpac_arcus.CODEPSTL %><br>
                <abbr title="Phone">P:</abbr> <%= number_to_phone(@accpac_arcus.TEXTPHON1) %>
              </address>
            </li>
            <li>
              <strong>Email(s)</strong><br>
              <%= @accpac_arcus.EMAIL1 %><br>
              <%= @accpac_arcus.EMAIL2 %>
            </li>
            <li>
              <strong>Group</strong><br>
              <%= @accpac_arcus.IDGRP %>
            </li>
            <li>
              <strong>Territory</strong><br>
              <%= @accpac_arcus.CODETERR %>
            </li>
            <li>
              <strong>Contact(s)</strong><br>
              <%= @accpac_arcus.NAMECTAC %>
            </li>
            <li>
              <strong>Sales Representaive</strong><br>
              <%= @accpac_arcus.CODESLSP1 %>
            </li>

            <div class="hr-line-dashed"></div>

            <li>
              <strong>Number of Open Documents</strong><br>
              <%= @accpac_arcus.CNTOPENINV %>
            </li>
            <li>
              <strong>Number of Paid Invoices</strong><br>
              <%= @accpac_arcus.CNTINVPAID %>
            </li>
            <li>
              <strong>Customer Since:</strong><br>
              <% if @accpac_arcus.DATESTART > 0 %>
                <%= to_date_helper(@accpac_arcus.DATESTART) %>
              <% else %>
                -
              <% end %>
            </li>
            <li>
              <strong>Day of Last Activity</strong><br>
              <% if @accpac_arcus.DATELASTAC > 0 %>
                <%= to_date_helper(@accpac_arcus.DATELASTAC) %>
              <% else %>
                -
              <% end %>
            </li>
            <li>
              <strong>Date of Last Invoice</strong><br>
              <% if @accpac_arcus.DATELASTIV > 0 %>
                <%= to_date_helper(@accpac_arcus.DATELASTIV) %>
              <% else %>
                -
              <% end %>
            </li>
            <li>
              <strong>Date of Last Receipt</strong><br>
              <% if @accpac_arcus.DATELASTPA > 0 %>
                <%= to_date_helper(@accpac_arcus.DATELASTPA) %>
              <% else %>
                -
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <!-- Ranking -->
      <% if @accpac_arcus.customers_ranking.present? %>
        <div class="text-right">
          <button class="btn-<%= customer_sales_rank_color(@accpac_arcus) %> btn-sm">
            <i class="fa fa-line-chart"></i> Sales Rank &nbsp;
            <%= @accpac_arcus.customers_ranking.ABC_SALES_RANK %> -
            <%= @accpac_arcus.customers_ranking.DENSE_SALES_RANK %>
          </button>
          <button type="button" class="btn btn-w-m btn-link text-primary">
            <i class="fa fa-bar-chart"></i> Margin
              <%= number_to_percentage(customer_gross_margin(@accpac_arcus.IDCUST), precision: 2) %>
              (YTD: <%= number_to_percentage(customer_gross_margin_ytd(@accpac_arcus), precision: 2) %>)
          </button>
        </div>
      <% end %>

      <!-- Sales Orders Trend -->
      <div>
        <h3 class="font-bold no-margins">
          Sales Trend
        </h3>
        <small>36 months.</small>
      </div>
      <div class="m-t-sm">
        <div class="row">
          <div class="col-md-12">
            <div>
              <%= line_chart charts_customers_sales_trend_path(id: @accpac_arcus.IDCUST), thousands: ",", prefix: "$", download: "#{@accpac_arcus.IDCUST.strip!}_Sales-Trend", curve: false %>
            </div>
          </div>
        </div>
      </div>

      <!-- Sales by Years -->
      <div style="margin-top: 25px;">
        <span class="pull-right text-right">
          YTD Net Sales: <%= number_to_currency(ytd_customer_sales_current_year(@accpac_arcus.IDCUST)) %>
        </span>
        <h3 class="font-bold no-margins">
          Sales by Years
        </h3>
        <small>Net sales last 5 years.</small>
      </div>
      <div class="m-t-sm">
        <div class="row">
          <div class="col-md-12">
            <div>
              <%= column_chart charts_customers_sales_chart_path(id: @accpac_arcus.IDCUST), download: "#{@accpac_arcus.IDCUST}_Sales", thousands: ",", prefix: "$" %>
            </div>
          </div>
        </div>
      </div>
      <div class="m-t-md">
        <small class="pull-right">
          <i class="fa fa-clock-o"> </i> Update every 60 seconds.
        </small>
      </div>
    </div>
  </div>
</div>
