<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Item Code</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Location</Data></Cell>
        <Cell><Data ss:Type="String">Unit</Data></Cell>
        <Cell><Data ss:Type="String">Price</Data></Cell>
      </Row>
    <% @accpac_oeordh.accpac_oeordd.each do |order| %>
      <Row>
        <Cell><Data ss:Type="String"><%= order.ITEM %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.DESC %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.LOCATION %></Data></Cell>
        <Cell><Data ss:Type="String"><%= order.ORDUNIT %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= sprintf('%2f',(order.UNITPRICE)) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
