<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Order Entry</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        Invocies
      </li>
      <li class="active">
        <strong><%= @accpac_oeinvh.INVNUMBER %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-4">
		<div class="title-action">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
				<i class="fa fa-search"></i>&nbsp;Search</button>
      </button>
      <%= link_to print_accpac_oeinvh_path(id: @accpac_oeinvh.INVUNIQ.to_i), target: "_blank", class: "btn btn-primary" do %>
        <i class="fa fa-print"></i> Print
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="ibox-content p-xl">
        <div class="row">
          <div class="col-sm-6">
            <h5>From:</h5>
            <address>
              <strong>Vertilux Ltd.</strong><br>
              Location: <%= @accpac_oeinvh.LOCATION %><br>
              <%= @accpac_oeinvh.icloc.ADDRESS1 %> <%= @accpac_oeinvh.icloc.ADDRESS2 %><br>
              <%= @accpac_oeinvh.icloc.CITY %>, <%= @accpac_oeinvh.icloc.STATE %> <%= @accpac_oeinvh.icloc.ZIP %><br>
              <abbr title="Phone">P:</abbr> <%= number_to_phone(@accpac_oeinvh.icloc.PHONE) %>
            </address>
          </div>

          <div class="col-sm-6 text-right">
            <h4>Invoice No.</h4>
            <h4 class="text-navy"><%= @accpac_oeinvh.INVNUMBER %></h4>
            <span>To:</span>
            <address>
              <strong><%= @accpac_oeinvh.BILNAME.humanize.titleize %></strong><br>
              <%= @accpac_oeinvh.BILADDR1 %> <%= @accpac_oeinvh.BILADDR2 %><br>
              <%= @accpac_oeinvh.BILCITY%>, <%= @accpac_oeinvh.BILSTATE %> <%= @accpac_oeinvh.BILZIP %><br>
              <abbr title="Phone">P:</abbr> <%= number_to_phone(@accpac_oeinvh.BILPHONE) %>
            </address>
            <p>
              <span><strong>Invoice Date:</strong> <%= to_date_helper(@accpac_oeinvh.INVDATE) %></span><br />
              <span><strong>Order No:</strong> <%= @accpac_oeinvh.ORDNUMBER %></span><br />
              <span><strong>PO No:</strong> <%= @accpac_oeinvh.PONUMBER %></span><br />
            </p>
          </div>
        </div>

        <div class="table-responsive m-t">
          <%= render_async details_accpac_oeinvh_index_path(id: params[:id]) do %>
            <h4><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading details...</h4>
          <% end %>
        </div>

        <table class="table invoice-total">
          <tbody>
            <tr>
              <td><strong>Sub Total :</strong></td>
                <td><%= number_to_currency(@accpac_oeinvh.INVNETNOTX, presicion: 2, delimiter: ",") %></td>
            </tr>
            <tr>
              <td><strong>TAX :</strong></td>
              <td><%= number_to_currency(@accpac_oeinvh.INVITAXTOT, precision: 2, delimiter: ",") %></td>
            </tr>
            <tr>
             <td><strong>DISCOUNT :</strong></td>
              <td><%= number_to_currency(@accpac_oeinvh.INVDISCAMT, precision: 2, delimiter: ",") %></td>
            </tr>
            <tr>
              <td><strong>TOTAL :</strong></td>
              <td><%= number_to_currency(@accpac_oeinvh.INVNETWTX, precision: 2, delimiter: ",") %></td>
            </tr>
          </tbody>
        </table>

        <div class="well m-t">
          <strong>Comments</strong> <%= @accpac_oeinvh.COMMENT %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<%= render 'modal' %>
