<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary ">
        <i class="fa fa-bars"></i>
      </a>
      <%= form_tag search_path, method: 'get', class: "navbar-form-custom" do %>
        <div class="from-group">
          <%= text_field_tag :q, params[:q], class: "form-control", id: "top-search", placeholder: t('top.search') %>
        </div>
      <% end %>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">
          Welcome to <%= company_name %> Web Application.
        </span>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"><%= I18n.locale.upcase %></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to locale: "en" do %>
              <img src="<%= image_path('flags/16/United-States.png') %>"> EN-US
            <% end %>
          </li>
          <li>
            <%= link_to locale: "gb" do %>
              <img src="<%= image_path('flags/16/United-Kingdom.png') %>"> EN-GB
            <% end %>
          </li>
          <li>
            <%= link_to locale: "es" do %>
              <img src="<%= image_path('flags/16/Spain.png') %>"> ES
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<script type="text/javascript">
  $(function() {
    $('.scroll_notifications').slimscroll({
        height: '350px'
    })
  });
</script>
